<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/css">
    .error{
        color: red;
    }
</script>
<body>
    <h1>welcome to regist</h1>
    <form method="post" th:object="${user}">
        <div th:if="${#fields.hasErrors('*')}">
             <ul style="color: red">
                 <li th:each="err : ${#fields.errors('*')}"
                 th:text="${err}">error</li>
             </ul>
        </div>
        <label>name</label>:
        <input type="text" th:field="*{name}" /> <br/>

        <input  type="submit" value="regist"/>
    </form>

</body>
</html>